.cover{
  overflow: hidden;
}
.imgCover{
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.dealsBox{
  border:1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.addBtn{
  width: 100%;
}
