.fav{
  font-size: 30px;
  color: #8b0000;
  margin-right: 20px;
}
.product{
  h2{
    display: inline-block;
  }
}
.rate{
  .ratingBlock{
    margin-right: 10px;
    display: inline-block;
  }
  .star{
    font-size: 20px;
    color: #ffc000;
    margin: 2px;
  }
  h4{
    display: inline-block;
  }
}
