.route{
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  a{
    font-family: 'frutiger-light', sans-serif, 'simple-line-icons';
    font-weight: 400;
    font-size: 1.6rem;
    color: #337ab7;
  }
  span{
    font-family: 'frutiger-light', sans-serif, 'simple-line-icons';
    font-weight: 400;
    font-size: 1.6rem;
    color: #333333;
  }
}
